<tr>
    <th>No.</th>
    <th>Sistem Infomet</th>
    <th>Path URL</th>
    <th>Wilayah</th>
    <th>Waktu</th>
    <th>Latitude, Longitude</th>
    <th>Cuaca Kota</th>
    <th></th>
</tr>
<tr>
    <td valign="top">1</td>
    <td valign="top"><input type="text" class="form-infomet-name" value="{name}"></td>
    <td valign="top"><input type="text" class="form-url" value="{url}"></td>
    <td valign="top">
        <select name="" id="" class="form-wilayah">
            <option value=""></option>
        </select>
    </td>
    <td valign="top">
        <select name="" id="time_zone" class="form-timezone">
            <option value="wib">WIB</option>
            <option value="wita">WITA</option>
            <option value="wit">WIT</option>
        </select>
    </td>
    <td valign="top"><input type="text" class="form-coor"></td>
    <td valign="top">
        <table class="city-weather" class="form-city-weather">
            <tr>
                <td>Kota 1</td>
                <td style="width: 10px">
                    <div class="trash-button-city-weather"><i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Kota 1</td>
                <td style="width: 10px">
                    <div class="trash-button-city-weather"><i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Kota 1</td>
                <td style="width: 10px">
                    <div class="trash-button-city-weather"><i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                </td>
            </tr>
        </table>
        <div class="btn-city-weather">Tambah</div>
    </td>
    <td valign="top"> Hapus</td>
</tr>