<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infomet Nelayan BMKG</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/static/dist/leaflet/leaflet.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />
    <link rel="stylesheet" href="/static/dist/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/static/dist/chosen/chosen.min.css">
    <link rel="stylesheet" href="/static/styles/main.css">
</head>
<body>
<div class="main">
    <div class="header">
        <div class="logo"><img src="/static/assets/bmkg-logo.png" alt="" width="40"></div>
        <div class="header-line"></div>
        <div class="title">
            <div class="title-name">Infomet Nelayan Sederhana</div>
            <div class="title-infomet">Pusat Meteorologi Maritim</div>
        </div>
    </div>
    <div class="menu">
    </div>
    <div class="menu-green-line"></div>
    <div class="content"></div>
    <!--<div class="footer">BMKG Pusat Meteorologi Maritim - 2018</div>-->
</div>

<script src="/static/dist/chosen/docsupport/jquery-1.12.4.min.js"></script>
<script src="/static/dist/chosen/docsupport/jquery-3.2.1.min.js"></script>
<script src="/static/dist/chosen/docsupport/prism.js"></script>
<script src="/static/dist/notify.min.js"></script>
<!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
<script src="/static/dist/chosen/chosen.jquery.min.js "></script>
<script src="/static/dist/chosen/chosen.proto.min.js"></script>
<script src="/static/dist/leaflet/leaflet.js"></script>
<script src="/static/dist/leaflet/leaflet.pm.min.js"></script>
<script src="/static/scripts/main.js"></script>
<script src="/static/scripts/menu/Monitoring.js"></script>
<script src="/static/scripts/menu/Infomet.js"></script>
<script src="/static/scripts/menu/Wilayah.js"></script>
<script src="/static/scripts/menu/Slide.js"></script>
<script src="/static/scripts/menu/Perintah.js"></script>
</body>
</html>