<div class="monitoring">
    <div class="status-infomet online">5 Online</div>
    <div class="thumbnail-list">
        <div class="thumbnail-warp online-border">
            <div class="thumbnail-image">
                <div class="thumbnail-date">dd-mm-yyyy</div>
            </div>
            <div class="thumbnail-name">KKP Pangandaran</div>
        </div>
        <div class="thumbnail-warp online-border">
            <div class="thumbnail-image">
                <div class="thumbnail-date">dd-mm-yyyy</div>
            </div>
            <div class="thumbnail-name">KKP Pangandaran</div>
        </div>
        <div class="thumbnail-warp online-border">
            <div class="thumbnail-image">
                <div class="thumbnail-date">dd-mm-yyyy</div>
            </div>
            <div class="thumbnail-name">KKP Pangandaran</div>
        </div>
        <div class="thumbnail-warp online-border">
            <div class="thumbnail-image">
                <div class="thumbnail-date">dd-mm-yyyy</div>
            </div>
            <div class="thumbnail-name">KKP Pangandaran</div>
        </div>
        <div class="thumbnail-warp online-border">
            <div class="thumbnail-image">
                <div class="thumbnail-date">dd-mm-yyyy</div>
            </div>
            <div class="thumbnail-name">KKP Pangandaran</div>
        </div>
    </div>
    <div class="status-infomet online">2 Offline</div>
    <div class="thumbnail-list">
        <div class="thumbnail-warp offline-border">
            <div class="thumbnail-image">
                <div class="thumbnail-date">dd-mm-yyyy</div>
            </div>
            <div class="thumbnail-name">KKP Pangandaran</div>
        </div>
        <div class="thumbnail-warp offline-border">
            <div class="thumbnail-image">
                <div class="thumbnail-date">dd-mm-yyyy</div>
            </div>
            <div class="thumbnail-name">KKP Pangandaran</div>
        </div>
    </div>
</div>