<!--<div class="notif">-->
<!--<div class="notif-content">-->
<!--<table>-->
<!--<tr>-->
<!--<th>No.</th>-->
<!--<th>Waktu</th>-->
<!--<th>Deskripsi</th>-->
<!--<th>Jenis</th>-->
<!--<th>Tindakan</th>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>1.</td>-->
<!--<td>10/11/12 10:22</td>-->
<!--<td>Data Gelombang Update tanggal 10/11/12</td>-->
<!--<td>Info</td>-->
<!--<td>OK</td>-->
<!--</tr>-->
<!--<tr>-->
<!--<td>2.</td>-->
<!--<td>10/11/12 10:22</td>-->
<!--<td>Data Gelombang Pautere Update tanggal 10/11/12</td>-->
<!--<td>Konfirmasi</td>-->
<!--<td>OK Lihat Edit</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->

<div class="notifikasi">
    <div class="notifikasi-top">
    </div>
    <div class="notifikasi-warp">
        <table style="overflow-y: scroll;">
            <tr>
                <th>No.</th>
                <th>Waktu</th>
                <th>Deskripsi</th>
                <th>Jenis</th>
                <th>Tindakan</th>
            </tr>
            <tr>
                <td valign="top">1</td>
                <td valign="top">10/10/2018 10:10</td>
                <td valign="top">Verifikasi gelombang Bajumulyo</td>
                <td valign="top">Konfirmasi</td>
                <td valign="top">
                    <button class="green button">Ok</button>
                    <button class="button">Edit</button>
                </td>
            </tr>
            <tr>
                <td valign="top">2</td>
                <td valign="top">10/10/2018 10:10</td>
                <td valign="top">Data cuaca kota telah diperbaharui</td>
                <td valign="top">Informasi</td>
                <td valign="top">
                    <button class="green button">Ok</button>
                </td>
            </tr>
        </table>
    </div>
</div>