<div class="wilayah">
    <div class="side-menu">
        <div class="side-top">
            <div class="label-wrap">Pilih wilayah :</div>
            <div class="input-wrap">
                <select name="active-wilayah" id="active-wilayah">
                </select>
            </div>
        </div>
        <div class="side-list-title"><div class="no">No.</div><div class="name">Nama Area</div><div class="cat">Kat. Gel</div></div>
        <div class="side-list"></div>
    </div>
    <div class="map" id="map"></div>
</div>